/* In variables partial */
$font-family: 'Montserrat', sans-serif;
$anchor-tag:#101010;
$no-radius:0px;
$dropdown-border:#f0f0f0;
$border:#f0f0f0;
$anchorHoverColor:#ff9400;
$fntlabel:#787878;
$bgaddressbook:#f8f8f8;
$megamenuColor:#222222;

/* Screen Media Queries Variables */
$screen-xs:480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;


/* color definitions global*/
$BTN-BLACK: #111111;
$BTN-ORANGE: #FF7E00;
$FNT-BLACK: #101010;
$FNT-FOOTER: #453D3D;
$FNT-RED:#ff0000;
$BG-GRAY: #EFEFEF;
$BG-LIGHT-GRAY: #F8F8F8;
$BG-DAR-GRAY : #E3E1E2;
$ERROR-RED: #DC0000;
$FNT-DARK-GREY: #A1A1A1;
$BG-HALF-WHITE:#fafafa;
$BG-ORANGE:#ff9401;
$HOVER-ORANGE:#ff9400;


/* color definitions mobile*/
$MOB-BG-DARK-GREY:#333;


/* Font sizes */
$FONT-SMALL:12PX;